 {% extends 'bbase.html' %}
{% load staticfiles %}

 {% block content %}
  <!-- Sliding panel starts-->

  <!-- Header ends -->

  <!-- Page heading -->
  <!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
  <div class="page-heading blightblue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="head-big text-center">Gus Rizal</h2>
          <div class="head-big-meta text-center">Sales <span class="lightblue">Executive</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page heading ends -->


<!-- Content starts -->
  <div class="content">
    <div class="container">

      <div class="row">
         <div class="col-md-12">
            
            <!-- Resume starts -->
            
            <div class="resume">
               <div class="row">
                  <div class="col-md-12">
                     <!-- Resume -->
                     
                     <div class="row">
                        <div class="col-md-12">
                        
                           <!-- About -->
                           <div class="rblock">
                              <div class="row">
                                 <div class="col-md-3">
                                    <h3 class="title"><i class="icon-user title-icon"></i> Tentang Saya</h3>                            
                                 </div>
                                 <div class="col-md-9">
                                    <div class="rinfo">
                                       <h4>Gus Rizal</h4>
                                       <div class="rmeta">Sales Executive</div>
                                       <p>Gus Rizal Sales Executive di PT. Graha Mulia Auto, Dealer Resmi TOYOTA Samarinda, Kalimantan Timur. Kami mempersembahkan berbagai informasi produk terbaik Toyota, mulai dari spesifikasi dan type mobil, promo, diskon, proses kredit maupun tunai bahkan bagi Anda yang ingin menjual unit lama Anda.</p>
                                          <!-- Social media icons -->
                                                 <div class="social">
                                                      <a href="#" class="bblue"><i class="icon-facebook"></i></a>
                                                      <a href="#" class="blightblue"><i class="icon-twitter"></i></a>
                                                      <a href="#" class="bviolet"><i class="icon-linkedin"></i></a>
                                                      <a href="#" class="borange"><i class="icon-google-plus"></i></a>
                                                      <a href="#" class="bred"><i class="icon-pinterest"></i></a>
                                                 </div>  
                                    </div>
                                 </div>
                              </div>
                           </div>
                           
                           <hr />

                           <!-- Education -->
                           <div class="rblock">
                              <div class="row">
                                 <div class="col-md-3">
                            
                                 </div>
                                 <div class="col-md-9">
                                    <div class="rinfo">
                                       <!-- Title -->
                                       <h4>HUBUNGI SAYA:</h4>
                                       <!-- Meta -->
                                       <div class="rmeta">Untuk Pembelian Mobil TOYOTA</div>
                                       <!-- Details -->
                                       <p>Kepuasan pelanggan menjadi prioritas utama Toyota dalam memberikan Total Best Ownership Experience kepada para pelanggannya.</p>
                                       <p>Telp:<br />
                                        (+62) 852-4777-3770<br />
                (+62) 853-8633-3813
                <h4>Email</h4>
                info@newtoyotakaltim.com<br />
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <hr />

                           <!-- Experience -->
                             
                           
                           <!-- Skills -->
                                              
                           
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
          </div>
        </div>

    </div>
  </div>
  <!-- Content ends -->


{% endblock %}