 {% extends 'bbase.html' %}
{% load staticfiles %}

 {% block content %}
  <!-- Sliding panel starts-->

  <!-- Header ends -->

  <!-- Page heading -->
  <!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
  <div class="page-heading blightblue">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2 class="pull-left"><i class="icon-arrow-right title-icon"></i> SUV</h2>
          <div class="pull-right heading-meta">Efektiv dalam mengangkut <span class="lightblue">barang</span> dan <span class="lightblue">nyaman</span> untuk membawa penumpang.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page heading ends -->

<!-- Content starts -->
  <div class="content">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>Land Cruiser</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/suv/suv-land-cruiser.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <!-- Description -->
                                <div class="cmatter">
                                   <!-- Site -->
                                   <a href="/product/suv/land-cruiser" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>New Fortuner</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/suv/suv-new-fortuner.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="/product/suv/new-fortuner" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>New Rush</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/suv/suv-new-rush.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="/product/suv/new-rush" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div> 
                </div>
                
               

    </div>
  </div>
  <!-- Content ends -->



{% endblock %}