 {% extends 'bbase.html' %}
{% load staticfiles %}

 {% block content %}
  <!-- Sliding panel starts-->

  <!-- Header ends -->

  <!-- Page heading -->
  <!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
  <div class="page-heading blightblue">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2 class="pull-left"><i class="icon-arrow-right title-icon"></i> Hybrid - camry Hybrid</h2>
         <div class="pull-right heading-meta">Menggabungkan sisi unggul dari dua<span class="lightblue"> sumber daya: </span> motor listrik<span class="lightblue">dan</span> mesin pembakaran.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page heading ends -->

<!-- Content starts -->
  <div class="content">
    <div class="container">
      <div class="row">

          <div class="col-md-12">
          <center><img src="{% static "img/product/hybrid/hybrid-camry-hybrid-big.jpg" %}" alt=""  class="img-responsive" /></center>
          </div>
                               
      </div>
    </div>    
  </div>
                
      
  <!-- Content ends -->



{% endblock %}