 {% extends 'bbase.html' %}
{% load staticfiles %}

 {% block content %}
  <!-- Sliding panel starts-->

  <!-- Header ends -->

  <!-- Page heading -->
  <!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
  <div class="page-heading blightblue">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2 class="pull-left"><i class="icon-arrow-right title-icon"></i> MPV</h2>
          <div class="pull-right heading-meta">Alat Transportasi andalan <span class="lightblue">keluarga,</span> memuat lebih <span class="lightblue">banyak penumpang</span> dan barang.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page heading ends -->

<!-- Content starts -->
  <div class="content">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>Alphard</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/mpv/mpv_alphard.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <!-- Description -->
                                <div class="cmatter">
                                   <!-- Site -->
                                   <a href="/product/mpv/alphard" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>NAV1</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/mpv/mpv_nav1.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="/product/mpv/nav1" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>Kijang Innova</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/mpv/mpv_innova.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="/product/mpv/kijang-innova" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div> 
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>Avanza Veloz</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/mpv/mpv_avanza_veloz.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="/product/mpv/avanza-veloz" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>Avanza</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/mpv/mpv-avanza.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="/product/mpv/avanza" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>

                </div>
                
               

    </div>
  </div>
  <!-- Content ends -->



{% endblock %}