 {% extends 'bbase.html' %}
{% load staticfiles %}

 {% block content %}
  <!-- Sliding panel starts-->

  <!-- Header ends -->

  <!-- Page heading -->
  <!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
  <div class="page-heading blightblue">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2 class="pull-left"><i class="icon-arrow-right title-icon"></i> Sedan</h2>
          <div class="pull-right heading-meta">Mobil dengan <span class="lightblue">kemewahan</span> dan <span class="lightblue">kemutakhiran</span> teknologi terdepan.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page heading ends -->

<!-- Content starts -->
  <div class="content">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>Camry</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/sedan/sedan_camry.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <!-- Description -->
                                <div class="cmatter">
                                   <!-- Site -->
                                   <a href="#" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>ALL NEW Vios</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/sedan/all_new_vios.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="#" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="cclient">
                                <!-- Client image -->
                                <h3>All New Corolla Altis</h3>
                                <div class="cimage">
                                   <img src="{% static "img/product/sedan/all_new_corolla_altis.jpg" %}" alt=""  class="img-responsive" />
                                </div>
                                <div class="cmatter">
                                   <a href="#" class="btn btn-danger">Lihat Lebih Detail</a>
                                </div>
                             </div>
                          </div>    

                </div>
                
               

    </div>
  </div>
  <!-- Content ends -->



{% endblock %}