 {% extends 'bbase.html' %}
{% load staticfiles %}

 {% block content %}
  <!-- Sliding panel starts-->

  <!-- Header ends -->

  <!-- Page heading -->
  <!-- Give background color class on below line (bred, bgreen, borange, bviolet, blightblue, bblue) -->
  <div class="page-heading blightblue">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2 class="pull-left"><i class="icon-arrow-right title-icon"></i> Product</h2>
          <div class="pull-right heading-meta">Berbagai <span class="lightblue">produk </span> TOYOTA yang sudah <span class="lightblue">teruji </span> kualitasnya.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page heading ends -->

 <!-- Content starts -->
  <div class="content">
    <div class="container">

      <div class="row">
    <div class="col-md-12">

                    <div class="img-portfolio">
                    <p>
                        <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
                           <ul id="filters">
                             <li><a href="#" data-filter="*" class="btn btn-default bred">Semua</a></li>
                             <li><a href="#" data-filter=".sedan" class="btn btn-default borange">Sedan</a></li>
                             <li><a href="#" data-filter=".hatchback" class="btn btn-default blightblue">Hatchback</a></li>
                             <li><a href="#" data-filter=".mpv" class="btn btn-default bviolet">MPV</a></li>
                             <li><a href="#" data-filter=".suv" class="btn btn-default bred">SUV</a></li>
                             <li><a href="#" data-filter=".commercial" class="btn btn-default borange">Commercial</a></li>
                             <li><a href="#" data-filter=".sport" class="btn btn-default bviolet">Sport</a></li>
                             <li><a href="#" data-filter=".hybrid" class="btn btn-default blightblue">Hybrid</a></li>
                           </ul>
                    </p>
                        
                        
                    <div id="portfolio">
                        <!-- Add the above used filter names inside div tag. You can add more than one filter names. For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto". -->                        
                       <div class="element sedan"><a href="{% static "img/product/sedan/sedan-camry-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/sedan/sedan-camry-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/sedan/camry">
                           <div class="pcap bred">
                              <h4>Camry</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element sedan"><a href="{% static "img/product/sedan/sedan-vios-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/sedan/sedan-vios-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/sedan/all-new-vios">
                           <div class="pcap borange">
                              <h4>All New Vios</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element sedan"><a href="{% static "img/product/sedan/sedan-corolla-altis-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/sedan/sedan-corolla-altis-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/sedan/all-new-corolla-altis">
                           <div class="pcap blightblue">
                              <h4>All New Corolla Altis</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element hatchback"><a href="{% static "img/product/hatchback/hatchback-all-new-yaris-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/hatchback/hatchback-all-new-yaris-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/hatchback/yaris">
                           <div class="pcap bviolet">
                              <h4>All New Yaris</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                        <div class="element hatchback"><a href="{% static "img/product/hatchback/hatchback-etios-valco-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/hatchback/hatchback-etios-valco-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/hatchback/etios-valco">
                           <div class="pcap bred">
                              <h4>Etios Valco</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element hatchback"><a href="{% static "img/product/hatchback/hatchback-agya-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/hatchback/hatchback-agya-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/hatchback/agya">
                           <div class="pcap borange">
                              <h4>Agya</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element mpv"><a href="{% static "img/product/mpv/mpv-alphard-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/mpv/mpv-alphard-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/mpv/alphard">
                           <div class="pcap blightblue">
                              <h4>Alphard</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div> 
                       <div class="element mpv"><a href="{% static "img/product/mpv/mpv-nav1-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/mpv/mpv-nav1-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/mpv/nav1">
                           <div class="pcap bviolet">
                              <h4>NAV1</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                        <div class="element mpv"><a href="{% static "img/product/mpv/mpv-kijang-innova-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/mpv/mpv-kijang-innova-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/mpv/kijang-innova">
                           <div class="pcap bred">
                              <h4>Kijang Innova</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element mpv"><a href="{% static "img/product/mpv/mpv-avanza-veloz-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/mpv/mpv-avanza-veloz-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/mpv/avanza-veloz">
                           <div class="pcap borange">
                              <h4>Avanza Veloz</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element mpv"><a href="{% static "img/product/mpv/mpv-avanza-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/mpv/mpv-avanza-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/mpv/avanza">
                           <div class="pcap borange">
                              <h4>Avanza</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element suv"><a href="{% static "img/product/suv/suv-land-cruiser-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/suv/suv-land-cruiser-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/suv/land-cruiser">
                           <div class="pcap borange">
                              <h4>Land Cruiser</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element suv"><a href="{% static "img/product/suv/suv-new-fortuner-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/suv/suv-new-fortuner-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/suv/new-fortuner">
                           <div class="pcap borange">
                              <h4>New Fortuner</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element suv"><a href="{% static "img/product/suv/suv-new-rush-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/suv/suv-new-rush-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/suv/new-rush">
                           <div class="pcap borange">
                              <h4>New Rush</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element commercial"><a href="{% static "img/product/commercial/commercial-hiace-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/commercial/commercial-hiace-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/commercial/hiace">
                           <div class="pcap borange">
                              <h4>Hiace</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element commercial"><a href="{% static "img/product/commercial/commercial-dyna-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/commercial/commercial-dyna-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/commercial/dyna">
                           <div class="pcap borange">
                              <h4>DYNA</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element commercial"><a href="{% static "img/product/commercial/commercial-hilux-d-cab-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/commercial/commercial-hilux-d-cab-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/commercial/hilux-d-cab">
                           <div class="pcap borange">
                              <h4>Hilux D Cab</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element commercial"><a href="{% static "img/product/commercial/commercial-hilux-s-cab-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/commercial/commercial-hilux-s-cab-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/commercial/hilux-s-cab">
                           <div class="pcap borange">
                              <h4>Hilux S Cab</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element sport"><a href="{% static "img/product/sport/sport-toyota-86-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/sport/sport-toyota-86-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/sport/toyota-86">
                           <div class="pcap borange">
                              <h4>Toyota 86</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                        <div class="element hybrid"><a href="{% static "img/product/hybrid/hybrid-prius-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/hybrid/hybrid-prius-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/hybrid/prius">
                           <div class="pcap borange">
                              <h4>Prius</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                       <div class="element hybrid"><a href="{% static "img/product/hybrid/hybrid-camry-hybrid-700.jpg" %}" class="prettyphoto">
                           <img src="{% static "img/product/hybrid/hybrid-camry-hybrid-thumb.jpg" %}" alt=""/></a>
                           <!-- Portfolio caption -->
                           <a href="/product/hybrid/camry-hybrid">
                           <div class="pcap borange">
                              <h4>Camry Hybrid</h4><br />
                              Lihat Detail dan Harga
                           </div>
                       </a></div>
                    </div>
               </div>

    </div>
  </div>

    </div>
  </div>
  <!-- Content ends -->


{% endblock %}